{% extends 'navbar.html' %}
{% load static %}

{% block static %}
<link rel="stylesheet" href="/static/style.css">
<link rel="icon" type="image/png" href="/static/img/mylogo.png">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
{% endblock %}

<!-- SLIDER -->
{% block content %}
<div id="slider">
    <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
        <ol class="carousel-indicators">
          <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
          <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
          <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
        </ol>
        <div class="carousel-inner">
          <div class="carousel-item active">
            <img src="/static/img/rania background.png" class="d-block w-100" alt="...">
            <div class="carousel-caption">
                <h5>Hello, My Name is Rania</h5>
            </div>
          </div>

          <div class="carousel-item">
            <img src="/static/img/cloy.jpg" class="d-block w-100" alt="...">
            <div class="carousel-caption">
                <h5>Welcome to My Website</h5>
            </div>
          </div>

          <div class="carousel-item">
            <img src="/static/img/exo.jpg" class="d-block w-100" alt="...">
            <div class="carousel-caption">
                <h5>Let's Go Take A Look!</h5>
            </div>
          </div>

        </div>
        <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="sr-only">Next</span>
        </a>
    </div>
    
</div>

<!-- ABOUT -->
<section id="about">
    <div class="container">
        <div class="row">

            <div class="col-md-6">
                <h2>Personal Profile</h2>
                <div class="about-content">
                    Saya lahir di Jakarta pada tanggal 5 Juli 2001. Saya merupakan anak pertama dari dua bersaudara. Saya merupakan orang yang sangat suka berbicara, membaca buku, dan saya sangat bersemangat untuk mempelajari hal baru. Saya berharap selama di Fasilkom saya dapat mengembangkan self-quality saya. Enjoy my website!&#128516
                </div>
            </div>

            <div class="col-md-6 skills-bar">
                <p>Public Speaking</p>
                <div class="progress">
                    <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100" style="width: 80%">80%</div>
                </div>

                <p>Marketing</p>
                <div class="progress">
                    <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" aria-valuenow="90" aria-valuemin="0" aria-valuemax="100" style="width: 90%">90%</div>
                </div>

                <p>Critical Thinking</p>
                <div class="progress">
                    <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100" style="width: 75%">75%</div>
                </div>

                <p>Teamwork</p>
                <div class="progress">
                    <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" aria-valuenow="85" aria-valuemin="0" aria-valuemax="100" style="width: 85%">85%</div>
                </div>
            </div>

        </div>
    </div>
</section>

<!-- Hobby -->

<section id="hobby">
    <div class="container">
        <h2>Where Do I Learn?</h2>
        <div class="row hobby">
            <div class="col-md-4 text-center">
                <div class="icon">
                    <img src="/static/img/logofasilkom.png" alt="">
                </div>
                <h3>Universitas Indonesia</h3>
                <p>Majoring in Information System, Faculty of Computer Science
                </p>
            </div>

            <div class="col-md-4 text-center">
                <div class="icon">
                    <img src="/static/img/logo-34-edited.png" alt="">
                </div>
                <h3>SMAN 34 Jakarta</h3>
                <p>Senior High School, Natural Sciences
                </p>
            </div>

            <div class="col-md-4 text-center">
                <div class="icon">
                    <img src="/static/img/alizhar.png" alt="">
                </div>
                <h3>Al-Izhar Pondok Labu</h3>
                <p>Junior High School</p>
            </div>


        </div>
    </div>
</section>

<!-- EXPERIENCES -->

<section id="experiences">
    <div class="container">
        <h1>Experiences & Volunteers</h1>
        <div class="row">
            <div class="col-md-3 organization text-center">
                <div class="img-box">
                    <img src="/static/img/logo-compfest.jpg" class="img-responsive">
                    <ul>
                        <a href="https://instagram.com/compfest"><li><i class="fa fa-instagram"></i></li></a>
                        <a href="https://twitter.com/compfest"><li><i class="fa fa-twitter"></i></li></a>
                        <a href="https://www.linkedin.com/company/compfest/"><li><i class="fa fa-linkedin"></i></li></a>
                    </ul>
                    <h2>COMPFEST 12</h2>
                    <h3>Staff of Sponsorship</h3>
                    <p>I learn how to build personal branding and improve brand awareness of 
                        the biggest IT event held by students
                    </p>
                </div>
            </div>

            <div class="col-md-3 organization text-center">
                <div class="img-box">
                    <img src="/static/img/Logo (Social Media).png" class="img-responsive">
                    <ul>
                        <a href="https://instagram.com/ohfasilkom"><li><i class="fa fa-instagram"></i></li></a>
                        <a href="https://twitter.com/ohfasilkom"><li><i class="fa fa-twitter"></i></li></a>
                        <a href="https://www.linkedin.com/company/open-house-fasilkom-ui-2020/"><li><i class="fa fa-linkedin"></i></li></a>
                    </ul>
                    <h2>Open House Fasilkom UI</h2>
                    <h3>Project Officer</h3>
                    <p>I lead Fasilkom UI's first virtual Open House, learn how to work in a team and 
                        report to superior
                    </p>
                </div>
            </div>

            <div class="col-md-3 organization text-center">
                <div class="img-box">
                    <img src="/static/img/logo-bem.png" class="img-bem">
                    <ul>
                        <a href="https://instagram.com/bemfasilkomui"><li><i class="fa fa-instagram"></i></li></a>
                        <a href="https://twitter.com/BEMFasilkomUI"><li><i class="fa fa-twitter"></i></li></a>
                        <a href="https://www.linkedin.com/company/bem-fakultas-ilmu-komputer-universitas-indonesia/"><li><i class="fa fa-linkedin"></i></li></a>
                    </ul>
                    <h2>BEM Fasilkom UI</h2>
                    <h3>Staff of Public Relation</h3>
                    <p>I improve written and verbal communication skill and responds well
                        under pressure with strict time limit
                    </p>
                </div>
            </div>

            <div class="col-md-3 organization text-center">
                <div class="img-box">
                    <img src="/static/img/edison.png" class="img-el">
                    <ul>
                        <a href="https://instagram.com/edison.league"><li><i class="fa fa-instagram"></i></li></a>
                        <a href="https://twitter.com/runniaaa"><li><i class="fa fa-twitter"></i></li></a>
                        <a href="https://www.linkedin.com/company/edison-league/"><li><i class="fa fa-linkedin"></i></li></a>
                    </ul>
                    <h2>Edison League</h2>
                    <h3>Marketing Associate</h3>
                    <p>I manage social medias, run ads, create weekly contents, and execute branding.
                    </p>
                </div>
            </div>

        </div>
    </div>
</section>

<!-- PROMOSI -->
<section id="promo">
    <div class="container">
        <p>Curious about my first website? Check this out!</p>
        <a href="https://rania-story1.herokuapp.com" target="_blank" class="btn btn-primary">SEE MORE</a>
    </div>
</section>

<!-- REVIEWS -->
<section id="reviews">
    <div class="container">
        <h1>My K-Drama Reviews!</h1>
        <p class="text-center">Read my most favorite K-Drama reviews and feel free to discuss
            with me if you have any thoughts! ;)
        </p>
        <div class="row">

            <div class="col-md-4 text-center">
                <div class="drama">
                    <img src="/static/img/hosplay.jpg" class="user">
                    <h3>Hospital Playlist</h3>
                    <p>This drama is really great if you're interested in a medical drama. 
                        It's about 5 best friends since undergraduate school, five doctors remain close and share a love for music while working at the same hospital.
                    </p>
                </div>
            </div>

            <div class="col-md-4 text-center">
                <div class="drama">
                    <img src="/static/img/Itaewon-Class.jpg" class="user">
                    <h3>Itaewon Class</h3>
                    <p>Talk about an ex-con and his friends fight to make their ambitious dreams for their street bar a reality, Itaewon Class 
                        really made us realize that throughout their life, people really change. In addition, you will also learn about starting a new business!
                    </p>
                </div>
            </div>

            <div class="col-md-4 text-center">
                <div class="drama">
                    <img src="/static/img/pbio.jpg" class="user">
                    <h3>It's Okay To Not Be Okay</h3>
                    <p>If you're a fan of fairy tale, this drama is perfect for you! It's a healing drama that produced with high quality cinematography,
                        let us feel the emptiness of suffering alone, and talk about mental health.
                    </p>
                </div>
            </div>

            <div class="col-md-4 text-center">
                <div class="drama">
                    <img src="/static/img/bokjoo.jpg" class="user">
                    <h3>Weightlifting Fairy Kim Bokjoo</h3>
                    <p>Suitable for college students, this drama is about a coming-of-age story about a group 
                        of college athletes who are fighting for their dreams, experiencing and finding love in the process. It's good
                        for us to throw away our negative thinking and insecurities!
                    </p>
                </div>
            </div>

            <div class="col-md-4 text-center">
                <div class="drama">
                    <img src="/static/img/hoteldel.jpeg" class="user">
                    <h3>Hotel Del Luna</h3>
                    <p>Do you like horror genre? This is ABSOLUTELY PERFECT! Located in the middle of Seoul, 
                        Hotel del Luna is the eponymous hotel that caters only to ghosts; the beautiful 
                        but ill-tempered CEO is cursed to manage the hotel due to a terrible crime she committed, but cannot remember.
                        Spoiler, the ending scene is bittersweet! Very recommended  
                    </p>
                </div>
            </div>

            <div class="col-md-4 text-center">
                <div class="drama">
                    <img src="/static/img/wyws.jpg" class="user">
                    <h3>While You Were Sleeping</h3>
                    <p>It's time for fantasy! This drama is about a young woman that has visions through her dreams of terrible things 
                        that will happen to people in the future. A prosecutor tries to prevent these dreams from happening in real life.
                        Go watch this! You will experience the thrill about lucid-dreaming ;)
                    </p>
                </div>
            </div>

        </div>
    </div>
</section>




<!-- SMOOTH SCROLLING -->
<script src="/static/js/smooth-scroll.js"></script>
    <script>
	var scroll = new SmoothScroll('a[href*="#"]');
    </script>

{% endblock %}
