{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/style.css">

    {% block static %}
<link rel="icon" type="image/png" href="/static/img/mylogo.png">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
{% endblock %}

{% block title %}
<title>Home | Rania Devina</title>
{% endblock %}
</head>
<body>
    <section id="nav-bar">
        <nav class="navbar navbar-expand-lg navbar-light">
            <a class="navbar-brand" href="#"><img src="/static/img/mylogo.png" alt=""></a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="/" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                          Home
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <a class="dropdown-item" href="/">Home</a>
                            <a class="dropdown-item" href="/#about">About</a>
                            <a class="dropdown-item" href="/#experiences">Experiences</a>
                            <a class="dropdown-item" href="/#reviews">Reviews</a>
                            <a class="dropdown-item" href="/#contact">Contact</a>
                        </div>
                    </li>
                    <li class="nav-item active">
                        <a class="nav-link" href="/gallery">Gallery <span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item active">
                        <a class="nav-link" href="/favorites">Favorites <span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="/" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                          Schedule
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <a class="dropdown-item" href="/schedule">Add new <span class="sr-only">(current)</span></a>
                            <a class="dropdown-item" href="/data">See list <span class="sr-only">(current)</span></a>
                        </div>
                    </li>
                    
                </ul>
            </div>
          </nav>
    </section>
    {% block content %} {% endblock %}

    <!-- CONTACT -->
    <section id="contact">
        <div class="container text-center">
            <h1>Get in Touch!</h1>
            <!-- <div class="row"> -->
                <a href="https://instagram.com/raniadevina"><img src="/static/img/instagram.png"></a>
                <a href="https://twitter.com/runniaaa"><img src="/static/img/twitter.png"></a>
                <a href="https://linkedin.com/in/raniadevinanandini"><img src="/static/img/linkedin.png"></a>
            <!-- </div> -->
        </div>
    </section>

    <!-- FOOTER -->
    <section id="footer">
        <div class="container text-center">
            <p>Made with &#128147; by Rania Devina &#128540;</p>
        </div>
    </section>
    
</body>
</html>
