{% extends 'navbar.html' %}
{% load static %}

{% block static %}
<link rel="stylesheet" href="/static/style.css">
<link rel="icon" type="image/png" href="/static/img/mylogo.png">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
{% endblock %}

{% block title %}  
<title>Schedule | Rania Devina</title>
{% endblock %}

{% block content %}  

<body class="halamanschedule">

<div class="container-schedule">
  <h2>Create Your Schedule!</h2>
  <p>Please fill out this form below to organize your schedule</p>
  <form class="was-validated"  method="post">

    
      {% csrf_token %}
      <div class="form-group">
          {{form.nama_matkul.label_tag}}
          {{form.nama_matkul}}
      </div>
      <div class="form-group">
          {{form.dosen.label_tag}}
          {{form.dosen}}
      </div>
      <div class="form-group">
          {{form.jumlah_sks.label_tag}}
          {{form.jumlah_sks}}
      </div>
      <div class="form-group">
        {{form.semester.label_tag}}
        {{form.semester}}
      </div>
      <div class="form-group">
          {{form.ruangan.label_tag}}
          {{form.ruangan}}
      </div>
      <div class="form-group">
          {{form.deskripsi.label_tag}}
          {{form.deskripsi}}
      </div>

      <div class="text-center">
        <button type="submit" class="btn btn-primary">Set Schedule</button>
      </div>
      
  </form>

</div>

</body>

{% endblock %}
